[Desktop Entry]
Type=Application
Name=MissionPlannerRust
Comment=Ground station for ArduPilot vehicles: flight data, planning, setup and configuration
Exec=planner
Icon=planner
Terminal=false
Categories=Utility;Science;
Keywords=ArduPilot;MAVLink;drone;UAV;ground station;
